.DS_Store


/.quarto/
/.luarc.json
.Rproj.user
.cursorignore

*/sps/*
background/*

# don't ignore .md files in background/*
!background/*.md

# ignore any files in the mpa directory that start with _
mpa/_*


~$*


# misc knit files
*.aux
*.gz
*.log
*.rdx
*.rdb
#*.knit.md
*.results
*.canvas
*.vdoc.r
*.here
*.sav
*.zip

# r created files
*.rproj
*.rproj.user
*.rhistory
*.ruserdata
*.history
*.rdata
#*.rds


.lintr
.luarc.json
license 


# folders
.trash/*
.obsidian/*
.quarto/*
_freeze/*
.vscode/*
rsconnect/*
_extensions/*


/_scratch/*

data/model_cache/*


# ignore all png files located inside of nb/
nb/**/*.png

# ignore all png files in misc, included recursive

misc/indiv_files/figure-html/**


manuscript/.quarto/** 
